language: cpp

matrix:
  include:
    - os: windows

    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-5
      env:
        - MATRIX_EVAL="CC=gcc-5 && CXX=g++-5"

    - os: linux
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-4.9
      env:
        - MATRIX_EVAL="CC=gcc-4.9 && CXX=g++-4.9"

    - os: osx
      osx_image: xcode11

before_install:
  - eval "${MATRIX_EVAL}"

script:
  - cmake -E make_directory Build
  - cd Build
  - cmake .. -DCCOLA_DIR=ccola -DCCOLA_INSTALL_DIR=Install
  - cd ..
  - cmake --build Build
  - cmake --build Build --target RUN_TESTS
