<footer class="footer">
  <p>© Koninklijke Philips N.V., 2022. All rights reserved.</p>
</footer>

{{!-- downloaded from the CDN --}}
<script type="text/javascript" src="{{uiRootPath}}/js/medium-zoom.min.js"></script>
<script type="text/javascript">
mediumZoom('.data-zoomable img', {
  margin: 50,
  background: '#FFFFFFA1',
})
</script>
