---
name: Dependency Scanner

on:
  pull_request:
    types: [opened, synchronize, reopened]
  merge_group:

permissions:
  contents: read

jobs:
  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
      - uses: philips-forks/cmake-dependency-submission@72880580a7cafc16145d82268f1892c0ece3da2a # main
      - env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh ext install advanced-security/gh-sbom
          gh sbom -c | jq
      - uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
        with:
          name: SBOM
          path: sbom.json
  dependency-review:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    needs: [dependency-submission]
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
      - uses: actions/dependency-review-action@f6fff72a3217f580d5afd49a46826795305b63c7 # v3.0.8
        with:
          comment-summary-in-pr: true
