---
name: Build & Publish Documentation

on:
  push:

permissions:
  contents: read

env:
  SITE_DIR: "site"
jobs:
  build_antora:
    name: Build Antora Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
        with:
          fetch-depth: 0
      - name: Build Antora Site
        uses: philips-forks/antora-site-action@0c58ca8552165764e9d1d0c2216403cd6c2520b9
        with:
          antora_playbook: antora-playbook.yml
          antora_generator: "antora-site-generator-lunr"
          antora_docsearch_enabled: "true"
      - name: Store Antora Site
        uses: actions/upload-artifact@83fd05a356d7e2593de66fc9913b3002723633cb
        with:
          name: antora
          path: "${{ github.workspace }}/build/${{ env.SITE_DIR }}"
  deploy_antora:
    permissions:
      contents: write  # for peaceiris/actions-gh-pages to push pages branch
    runs-on: ubuntu-latest
    needs: build_antora
    if: ${{ github.ref == 'refs/heads/modern-cmake' }}
    name: Publish to GitHub Pages
    steps:
      - name: Checkout
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8
      - name: Retrieve Antora Site
        uses: actions/download-artifact@9782bd6a9848b53b110e712e20e42d89988822b7
        with:
          name: antora
          path: "${{ github.workspace }}/${{ env.SITE_DIR }}"
      - name: Publish to GitHub Pages
        uses: peaceiris/actions-gh-pages@de7ea6f8efb354206b205ef54722213d99067935
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ${{ env.SITE_DIR }}
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
