---
name: Build & Publish Documentation

on:
  push:

permissions:
  contents: read

jobs:
  build_antora_site:
    name: Build Antora Documentation
    runs-on: ubuntu-latest
    permissions:
      contents: write
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - name: Checkout
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
        with:
          fetch-depth: 0
          persist-credentials: false
      - run: npm i asciidoctor-kroki
      - name: Build Antora Site
        uses: philips-forks/antora-site-action@ef15f74e055960099ec1bf58f4f8148d1f07a0c2
        with:
          antora_playbook: antora-playbook-site.yml
          antora_generator: "antora-site-generator-lunr"
          antora_docsearch_enabled: "true"
      - name: Store Antora Site
        uses: actions/upload-artifact@1746f4ab65b179e0ea60a494b83293b640dd5bba # v4.3.2
        with:
          name: antora
          path: "${{ github.workspace }}/build/site"
      - name: Publish to GitHub Pages
        uses: peaceiris/actions-gh-pages@373f7f263a76c20808c831209c920827a82a2847 # v3.9.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/site
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
  build_antora_branch:
    name: Build Antora Documentation for the current branch
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
        with:
          fetch-depth: 0
          persist-credentials: false
      - run: npm i asciidoctor-kroki
      - name: Build Antora Site
        uses: philips-forks/antora-site-action@ef15f74e055960099ec1bf58f4f8148d1f07a0c2
        with:
          antora_playbook: antora-playbook-branch.yml
          antora_generator: "antora-site-generator-lunr"
          antora_docsearch_enabled: "true"
      - name: Store Antora Site
        uses: actions/upload-artifact@1746f4ab65b179e0ea60a494b83293b640dd5bba # v4.3.2
        with:
          name: antora-branch
          path: "${{ github.workspace }}/build/site"
  deploy_antora:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    needs: build_antora_site
    if: ${{ github.ref == 'refs/heads/main' }}
    name: Publish to GitHub Pages
    steps:
      - name: Checkout
        uses: actions/checkout@9bb56186c3b09b4f86b1c65136769dd318469633 # v4.1.2
      - name: Retrieve Antora Site
        uses: actions/download-artifact@8caf195ad4b1dee92908e23f56eeb0696f1dd42d # v4.1.5
        with:
          name: antora
          path: "${{ github.workspace }}/build/site"
      - name: Publish to GitHub Pages
        uses: peaceiris/actions-gh-pages@373f7f263a76c20808c831209c920827a82a2847 # v3.9.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/site
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
