---
name: Build & Publish Documentation

on:
  push:

permissions:
  contents: read

jobs:
  build_antora_site:
    name: Build Antora Documentation
    runs-on: ubuntu-latest
    permissions:
      contents: write
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: philips-software/antora-site-action@fabb86ea3bdf79069c08a1c02fe175e7823a64c7 # 1.3.0
        with:
          antora_playbook: antora-playbook-site.yml
      - name: Store Antora Site
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: antora
          path: "${{ github.workspace }}/build/site"
      - name: Publish to GitHub Pages
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/site
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
  build_antora_branch:
    name: Build Antora Documentation for the current branch
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: philips-software/antora-site-action@fabb86ea3bdf79069c08a1c02fe175e7823a64c7 # 1.3.0
        with:
          antora_playbook: antora-playbook-branch.yml
      - name: Store Antora Site
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: antora-branch
          path: "${{ github.workspace }}/build/site"
  deploy_antora:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    needs: build_antora_site
    if: ${{ github.ref == 'refs/heads/main' }}
    name: Publish to GitHub Pages
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Retrieve Antora Site
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: antora
          path: "${{ github.workspace }}/build/site"
      - name: Publish to GitHub Pages
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/site
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
