---
name: Build & Publish Documentation

on:
  push:

permissions:
  contents: read

jobs:
  build_antora_site:
    name: Build Antora Documentation
    runs-on: ubuntu-latest
    permissions:
      contents: write
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          fetch-depth: 0
          persist-credentials: false
      - run: npm i asciidoctor-kroki
      - name: Build Antora Site
        uses: philips-forks/antora-site-action@ef15f74e055960099ec1bf58f4f8148d1f07a0c2
        with:
          antora_playbook: antora-playbook-site.yml
          antora_generator: "antora-site-generator-lunr"
          antora_docsearch_enabled: "true"
      - name: Store Antora Site
        uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # v4.3.1
        with:
          name: antora
          path: "${{ github.workspace }}/build/site"
      - name: Publish to GitHub Pages
        uses: peaceiris/actions-gh-pages@373f7f263a76c20808c831209c920827a82a2847 # v3.9.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/site
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
  build_antora_branch:
    name: Build Antora Documentation for the current branch
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          fetch-depth: 0
          persist-credentials: false
      - run: npm i asciidoctor-kroki
      - name: Build Antora Site
        uses: philips-forks/antora-site-action@ef15f74e055960099ec1bf58f4f8148d1f07a0c2
        with:
          antora_playbook: antora-playbook-branch.yml
          antora_generator: "antora-site-generator-lunr"
          antora_docsearch_enabled: "true"
      - name: Store Antora Site
        uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # v4.3.1
        with:
          name: antora-branch
          path: "${{ github.workspace }}/build/site"
  deploy_antora:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    needs: build_antora_site
    if: ${{ github.ref == 'refs/heads/main' }}
    name: Publish to GitHub Pages
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Retrieve Antora Site
        uses: actions/download-artifact@87c55149d96e628cc2ef7e6fc2aab372015aec85 # v4.1.3
        with:
          name: antora
          path: "${{ github.workspace }}/build/site"
      - name: Publish to GitHub Pages
        uses: peaceiris/actions-gh-pages@373f7f263a76c20808c831209c920827a82a2847 # v3.9.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/site
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
