---
name: Build & Publish Documentation

on:
  push:

permissions:
  contents: read

jobs:
  build_antora_site:
    name: Build Antora Documentation
    runs-on: ubuntu-latest
    permissions:
      contents: write
    if: ${{ github.ref == 'refs/heads/main' }}
    steps:
      - name: Checkout
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
        with:
          fetch-depth: 0
          persist-credentials: false
      - run: npm i asciidoctor-kroki
      - name: Build Antora Site
        uses: philips-forks/antora-site-action@ef15f74e055960099ec1bf58f4f8148d1f07a0c2
        with:
          antora_playbook: antora-playbook-site.yml
          antora_generator: "antora-site-generator-lunr"
          antora_docsearch_enabled: "true"
      - name: Store Antora Site
        uses: actions/upload-artifact@84480863f228bb9747b473957fcc9e309aa96097 # v4.4.2
        with:
          name: antora
          path: "${{ github.workspace }}/build/site"
      - name: Publish to GitHub Pages
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/site
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
  build_antora_branch:
    name: Build Antora Documentation for the current branch
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
        with:
          fetch-depth: 0
          persist-credentials: false
      - run: npm i asciidoctor-kroki
      - name: Build Antora Site
        uses: philips-forks/antora-site-action@ef15f74e055960099ec1bf58f4f8148d1f07a0c2
        with:
          antora_playbook: antora-playbook-branch.yml
          antora_generator: "antora-site-generator-lunr"
          antora_docsearch_enabled: "true"
      - name: Store Antora Site
        uses: actions/upload-artifact@84480863f228bb9747b473957fcc9e309aa96097 # v4.4.2
        with:
          name: antora-branch
          path: "${{ github.workspace }}/build/site"
  deploy_antora:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    needs: build_antora_site
    if: ${{ github.ref == 'refs/heads/main' }}
    name: Publish to GitHub Pages
    steps:
      - name: Checkout
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1
      - name: Retrieve Antora Site
        uses: actions/download-artifact@fa0a91b85d4f404e444e00e005971372dc801d16 # v4.1.8
        with:
          name: antora
          path: "${{ github.workspace }}/build/site"
      - name: Publish to GitHub Pages
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/site
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
