---
name: Build & Publish Documentation

on:
  push:

permissions:
  contents: read

jobs:
  build_antora_site:
    name: Build Antora Documentation
    runs-on: ubuntu-latest
    permissions:
      contents: write
    if: ${{ github.ref == 'refs/heads/modern-cmake' }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
        with:
          fetch-depth: 0
          persist-credentials: false
      - run: npm i asciidoctor-kroki
      - name: Build Antora Site
        uses: philips-forks/antora-site-action@ef15f74e055960099ec1bf58f4f8148d1f07a0c2
        with:
          antora_playbook: antora-playbook-site.yml
          antora_generator: "antora-site-generator-lunr"
          antora_docsearch_enabled: "true"
      - name: Store Antora Site
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce
        with:
          name: antora
          path: "${{ github.workspace }}/build/site"
      - name: Publish to GitHub Pages
        uses: peaceiris/actions-gh-pages@bd8c6b06eba6b3d25d72b7a1767993c0aeee42e7 # v3.9.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/site
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
  build_antora_branch:
    name: Build Antora Documentation for the current branch
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
        with:
          fetch-depth: 0
          persist-credentials: false
      - run: npm i asciidoctor-kroki
      - name: Build Antora Site
        uses: philips-forks/antora-site-action@ef15f74e055960099ec1bf58f4f8148d1f07a0c2
        with:
          antora_playbook: antora-playbook-branch.yml
          antora_generator: "antora-site-generator-lunr"
          antora_docsearch_enabled: "true"
      - name: Store Antora Site
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
        with:
          name: antora-branch
          path: "${{ github.workspace }}/build/site"
  deploy_antora:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    needs: build_antora_site
    if: ${{ github.ref == 'refs/heads/main' }}
    name: Publish to GitHub Pages
    steps:
      - name: Checkout
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
      - name: Retrieve Antora Site
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # v3.0.2
        with:
          name: antora
          path: "${{ github.workspace }}/build/site"
      - name: Publish to GitHub Pages
        uses: peaceiris/actions-gh-pages@373f7f263a76c20808c831209c920827a82a2847 # v3.9.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: build/site
          user_name: "github-actions[bot]"
          user_email: "github-actions[bot]@users.noreply.github.com"
