---
name: Linting & Formatting

on:
  pull_request:
    types: [opened, synchronize, reopened]
  merge_group:

permissions:
  contents: read

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  formatter:
    name: Formatting
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
        with:
          persist-credentials: false
      - uses: DoozyX/clang-format-lint-action@a83a8fb7d371f66da7dd1c4f33a193023899494b # v0.16
        with:
          clangFormatVersion: 14
          inplace: true
          extensions: "cpp,hpp"
          exclude: "./external"
      - uses: reviewdog/action-suggester@39a26a4439d742fc13233e9769dbedcf26b8163a # v1.7.5
        with:
          tool_name: clang-format
          filter_mode: diff_context
  linter:
    name: Linting
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
      security-events: write
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: oxsecurity/megalinter@fda6ac3a38be0e969820709ac16e442464e5a035 # v7.3.0
        env:
          APPLY_FIXES: all
          VALIDATE_ALL_CODEBASE: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: github/codeql-action/upload-sarif@00e563ead9f72a8461b24876bee2d0c2e8bd2ee8 # v2.21.5
        if: ${{ success() }} || ${{ failure() }}
        with:
          sarif_file: megalinter-reports/megalinter-report.sarif
      - uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3.1.2
        if: ${{ success() }} || ${{ failure() }}
        with:
          name: linter
          path: |
            megalinter-reports
      - uses: reviewdog/action-suggester@39a26a4439d742fc13233e9769dbedcf26b8163a # v1.7.5
        with:
          tool_name: MegaLinter
          filter_mode: diff_context
