---
name: Social Interaction

on:
  pull_request:
    types: [opened]
  issues:
    types: [opened]

permissions:
  contents: read

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - uses: actions/first-interaction@1c4688942c71f71d4f5502a26ea67c331730fa4d # v3.1.0
        continue-on-error: true
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          issue_message: "Thank you for adding your first issue. We will be looking into it as soon as possible."
          pr_message: "Thanks for your first PR. We really appreciate it!"
