---
name: Validate Pull-Request

on:
  pull_request:

permissions:
  contents: read

jobs:
  conventional_commit:
    runs-on: ubuntu-latest
    steps:
      - uses: Namchee/conventional-pr@d5139479d879132c4b7a97cf56b5aae285b80d77 # v0.12.1
        with:
          access_token: ${{ secrets.GITHUB_TOKEN }}
